
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:  0;
    box-sizing: 0;
}
/* ส่วนหัว */
.top-head {
    position: relative;
    background: linear-gradient(to right, #ffe0e0, #ff0000);
    height:40px;
    align-items: center;
     font-family: "Prompt", sans-serif;
    
}
/* ข้อความในtop-head */
.top-head-text {
    display: flex;
align-items: center;
 font-family: "Prompt", sans-serif;
}

/* กล่องเน็ต */
.internet-box {
    position: relative;
    top: 40px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    width: 300px;
    height: 170px;
    background-color: #ffffff;
       box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
        font-family: "Prompt", sans-serif;
}

/* ข้อความในกล่องเน็ต */
.text-internet-box {
position: relative;
top: 15px;
}

/* ปุ่มโทรออก */
#callout {
    padding: 2px;
    background-color: #ff4949;
          font-family: "Prompt", sans-serif;
          border-radius: 10px;
          color: #ffffff;
}
/* hoverปุ้มโทร */
#callout:hover {
    transform: scale(1.1);
        background-color: #a00909;
}


/* 
git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Camille061/mimiproject.git
git push -u origin main */