
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:  0;
    box-sizing: 0;
}
/* ส่วนหัว */
.top-head {
    position: relative;
    background: linear-gradient(to right, #ffe0e0, #ff0000);
    height:40px;
    align-items: center;
     font-family: "Prompt", sans-serif;
    
}
/* ข้อความในtop-head */
.top-head-text {
    display: flex;
align-items: center;
 font-family: "Prompt", sans-serif;
}

/* box-btn */
.box-menu-btn {
    text-align: center;
    position: relative;
    top: 20px;
}

/* ปุ้มเลือกวัน */
#btn-1day, #btn-2day,#btn-3day,#btn-7day, #btn-30day {
    width: 40px;
    padding: 5px;
    background: linear-gradient(to bottom, #ff0000, #9d0000);
    border: none;
    border-radius: 10px;
    color: #ffffff;
            font-family: "Prompt", sans-serif;
            
}

#btn-1day:hover, #btn-2day:hover, #btn-3day:hover, #btn-7day:hover, #btn-30day:hover {
    transform: scale(1.1);
    background: #ff5151;
}


/* กล่องเน็ต */
.internet-box {
    position: relative;
    top: 40px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 300px;
    height: 200px;
    background-color: #ffffff;
       box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
        font-family: "Prompt", sans-serif;
        margin-bottom: 10px;
 
}

/* ข้อความในกล่องเน็ต */
.text-internet-box {
position: relative;
top: 15px;
color: #000000;
}

/* ปุ่มโทรออก */
#callout {
    padding: 4px;
    background-color: #ff0000;
          font-family: "Prompt", sans-serif;
          border-radius: 7px;
          color: #ffffff;
            box-shadow: 0 0 20px 5px rgba(58, 78, 63, 0.5);
            border: none;     
            position: relative;   
            top: 10px;
}

/* hoverปุ้มโทร */
#callout:hover {
    transform: scale(1.1);
        background-color: #a00909;
}

/* เบอร์ต่างๆ */
.key-number  {
      position: relative;
    top: 10px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 300px;
    height: 200px;
    background: linear-gradient(to bottom, #ff3b3b, #990000);
       box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
        font-family: "Prompt", sans-serif;
        color: #ffffff;
}


#speed {
    border: solid;
    border-radius: 10px;
    max-width:250px;
    text-align: center;
  color: #000000;
}

footer {
    text-align: center;
}
/* 
git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Camille061/mimiproject.git
git push -u origin main */